<p>
  location-component works!
</p>

<div> 
  <ul>

      <li>  
          <div id="status">  
          </div>
        </li>

    <li>  
      <div> Name 
      </div>
      <div>
        <input type="text" id="name" />
      </div>
    </li>
    <li>  
      <div> Description 
      </div>
      <div>
        <input type="text" id="description" />
      </div>
    </li>
    
    
    <li>  
      <div> Description 
      </div>
      <div>
        <input type="text" id="description" />
      </div>
    </li>
    
    
    <li>  
      <div> City  
      </div>
      <div>
        <input type="text" id="city" />
      </div>
    </li>
    
    
    <li>  
      <div> Country
      </div>
      <div>
        <input type="text" id="country" />
      </div>
    </li>
    
    
    <li>  
      <div> Long :
      </div>
      <div>
        <input type="text" id="longitude" />
      </div>
    </li>
    
    <li>  
      <div> Lat :
      </div>
      <div>
        <input type="text" id="latitude" />
      </div>
    </li>
    
    
    
    <li>  
      <div> 
      </div>
      <div>
        <button onclick="save()"> Save</button>
        <button onclick="cancel()"> Cancel</button>
      </div>
    </li>
    
    <li>
    </li>
    
  </ul>    
</div>
