<p>
  country-component works!
</p>

<div> 
  <ul>
    
    <li>  
      <div id="status">  {{status}}
      </div>
    </li>    
    
    <li>  
      <div> Name 
      </div>
      <div>
       
          <input matInput type="text" id="name" [(ngModel)]="name" />
      
      </div>
    </li>
    <li>  
      <div> Description 
      </div>
      <div>
        <input matInput type="text" id="description" [(ngModel)]="description" />
      </div>
    </li>
    
    <li>  
      <div> 
      </div>
      <div>
        <button mat-button color="primary" (click)="save()"> Save</button>
        <button mat-button color="primary" (click)="cancel()"> Cancel</button>
      </div>
    </li>

    <li>
      
       
    </li>
    
  </ul>    
</div>

<div>
  <ngx-datatable
  [rows]="rows"
  [columns]="columns">
</ngx-datatable>
</div>