<p>
  city-component works!  
</p>

<div> 
  <ul>
    
    <li>  
      <div id="status" ([value])='status'>  </div>
    </li>
    
    <li>  
      <div> Name 
      </div>
      <div>
        <input type="text" id="name" [(ngModel)]="name" />
      </div>
    </li>
    <li>  
      <div> Description 
      </div>
      <div>
        <input type="text" id="description" [(ngModel)]="description"/>
      </div>
    </li>
    
    <li>  
      <div> 
      </div>
      <div>
        <button (click)="save()"> Save</button>
        <button (click)="cancel()"> Cancel</button>
      </div>
    </li>
    
    <li>
    </li>
    
  </ul>    
  
</div>


<div>
  <ngx-datatable
  [rows]="rows"
  [columns]="columns">
</ngx-datatable>
</div>